---
import CreditsCard from '../components/CreditsCard.astro'
import Layout from '../layouts/Layout.astro';
import '../main.css'
---

<Layout title="palera1nclone" description="semi-tethered jailbreak for iOS 15-16.x">
	<main>
        <CreditsCard link="" description="Isaac's website" header="" imgsrc="https://cdn.discordapp.com/avatars/624251187277070357/a_88b60deca394255d2ccf5082be03dd81.gif"/>
		<h1 style="color:white;">palera1n</h1>
		<p>palera1n is a developer-oriented jailbreak for checkm8 devices (A8-A11) on iOS 15.0-16.4</p>
		</div>
	</main>
</Layout>	