---
import '../main.css'
export interface Props {
    question: string;
    answer: string;
    link?: string;
}
const { question, answer, link } = Astro.props
---

<li class="faqcard">
		<h2>
			{question}
		</h2>
        {link ? (
            <a style="color: white;"class="faqlink" href={link} target="_blank" rel="noopener noreferrer">
              {answer}
            </a>
          ) : (
            answer
          )}
        </p>
	</a>
</li>