---
import '../main.css'
import { Icon } from 'astro-icon'
---
<script>
    const res = await fetch('https://api.github.com/repos/palera1n/palera1n');
    const data = await res.json();
    const stars = data.stargazers_count;

    const stars_element: HTMLElement | null = document.getElementById("stars_element");
    if (stars_element) {
        stars_element.innerHTML = stars_element.innerHTML.replace('starsHere', stars);
    }

    // const mobile_menu_button: HTMLElement | null = document.getElementById("mobile_menu_button");
    // const mobile_menu: HTMLElement | null = document.getElementById("mobile_menu");
    // const open_svg: HTMLElement | null = document.getElementById("open_svg");
    // const close_svg: HTMLElement | null = document.getElementById("close_svg");

    // if (mobile_menu_button && mobile_menu) {
    //     mobile_menu_button.addEventListener("click", () => {
    //         mobile_menu.classList.toggle("hidden");
            
    //         if (open_svg && close_svg) {
    //             open_svg.classList.toggle("hidden");
    //             close_svg.classList.toggle("hidden");
    //         }
    //     });
    // }
</script>
<div id="navbar">
    <div class="logo">
        <a href="/">
            <img src="/public/favicon.png"/>
            <strong><p>palera1n</p></strong>
        </a>
    </div>
    <div class="links">
        <a href="https://discord.gg/palera1n"><h2>Discord</h2></a>
        <a href="https://twitter.com/palera1n"><h2>Twitter</h2></a>
        <a href="downloads"><h2>Downloads</h2></a>
    </div>
    <div class="stargazers">
        <a href="https://github.com/palera1n/palera1n/stargazers" style="display:flex; align-items: center;" id="stars_element">
            <Icon pack="mdi" name="star" class="star" /><p style="display: inline; margin-top: 3px;">starsHere</p>
        </a>
    </div>
</div>