---
import '../main.css'
import { Icon } from 'astro-icon'
---
<script>
    const res = await fetch('https://api.github.com/repos/palera1n/palera1n');
    const data = await res.json();
    const stars = data.stargazers_count;

    const stars_element: HTMLElement | null = document.getElementById("stars_element");
    if (stars_element) {
        stars_element.innerHTML = stars_element.innerHTML.replace('starsHere', stars);
    }
</script>
<div id="navbar">
    <div class="logo">
        <a href="/">
            <img src="https://raw.githubusercontent.com/palera1n/website/main/public/favicon.png"/>
            <strong><p>palera1n</p></strong>
        </a>
    </div>
    <div class="links">
        <a href="https://discord.gg/palera1n"><h2>Discord</h2></a>
        <a href="https://twitter.com/palera1n"><h2>Twitter</h2></a>
        <a href="https://github.com/palera1n/palera1n"><h2>Github</h2></a>
    </div>
    <div class="stargazers">
        <a href="https://github.com/palera1n/palera1n/stargazers" style="display:flex; align-items: center;" id="stars_element">
            <Icon pack="mdi" name="star" class="star" /><p style="display: inline; margin-top: 3px;">starsHere</p>
        </a>
    </div>
</div>